@import '../6-utilities/initial-variables';

$sidebar-background-color : #2a3142;

.sidebar {
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgb(35,47,73) 10%, 
      rgba(255, 0, 0, 0)
    ),
    /* bottom, image */
    url(../../images/img/sidebar-gis-bg.png);
  // background-size: contain;
  background-repeat: no-repeat;
  // background-position: center;
  height: 100%;
  padding-top: 7.5rem;
  width: 225px;
  top: 0;
  position: fixed;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: auto;
  z-index: 2;
  // padding-top: 2.5rem;
  table-layout: fixed;
  word-wrap: break-word;
  // position: fixed; 

  &-wrapper {
    list-style: none;
    padding: .25rem 0;
    word-wrap: break-word;

    & .sidebar-list {
      display: flex;
      align-items: center;
      transition: all .3s;
      font-size: 17px;
      @include transition(all, .5s);
      word-wrap: break-word;

      a {
        color: #fff;
        width: 100%;
        padding: 0.5rem 1.2rem;
        // border-bottom: 1px solid #272c3a;
        word-wrap: break-word;
        transition: all .3s;
      }

      & .sidebar-menu {
        width: 100%;
        list-style: none;
        background-color: rgba(32,37,50,.4);
        max-height: 0;
        opacity: 0;
        transition: all 150ms ease-in-out;

        & .sidebar-menu-item {
          @include transition(all, .3s);

          a {
            display: flex;
            padding: 0.5rem 1.2rem;
            align-items: center;
            font-weight: 400;
            border-bottom: none;
            @include transition(all, .3s);

            i {
              margin-right: 15px;
            }
          }

          span {
            color: #a7a7a7;
            margin-right: 10px;
            @include transition(all, .3s);
          }
        }

        & .sidebar-menu-item:hover > a {
          margin-left: +10px;
          color: #e5085e;

          span {
            color: #e5085e; 
          }
        }
      }
    }

    .is-show {
        max-height: 300px!important;
        opacity: 1;
        // transition: all 150ms ease-in-out;
      }

    & .has-child {
      flex-wrap: wrap;
    }

    & .sidebar-list a:hover {
      color: #41056d;
      font-weight: 700;
      background-color: rgba(255,255,255,.8); 
    }
  }
}

.sidenav-mini {
  width: 70px; }
  .sidenav-mini a {
    display: none; }