@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
html {
  background-color: white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%; }

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block; }

body,
button,
input,
select,
textarea {
  font-family: 'open sans', sans-serif;
  border-radius: 2px; }

button,
a {
  cursor: pointer; }

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: sans-serif; }

body {
  color: #121212;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  background-color: white !important; }

fieldset {
  margin: 0 2px;
  padding: 0.35em 0 0.75em; }

a {
  cursor: pointer;
  text-decoration: none; }

a strong {
  color: currentColor; }

hr {
  background-color: inherit;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0; }

img {
  max-width: 100%; }

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline; }

small {
  font-size: 0.875em; }

span {
  font-style: inherit;
  font-weight: inherit;
  word-wrap: break-word; }

strong {
  color: #121212;
  font-weight: 600; }

pre {
  color: #121212;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: nowrap;
  word-wrap: normal; }

pre code {
  background-color: transparent;
  color: currentColor;
  font-size: 1em;
  padding: 0; }

table
td,
th {
  text-align: left;
  vertical-align: top; }

table
td th,
th th {
  color: #121212; }

::-webkit-input-placeholder {
  color: #ddd; }

:-moz-placeholder {
  color: #ddd; }

::-moz-placeholder {
  color: #ddd; }

:-ms-input-placeholder {
  color: #ddd; }

option {
  font-size: 15px; }

* {
  padding: 0;
  margin: 0; }

body {
  background-color: #f9f9f9 !important;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh; }

main {
  width: 83.33% !important; }

section.main-content {
  margin-top: 70px;
  width: 100%;
  margin-top: 4.25rem; }

.is-dropdown {
  visibility: hidden; }
.is-show {
  display: block;
  visibility: visible;
  opacity: 1; }
.is-hide {
  visibility: hidden; }
.is-white {
  background-color: #fff !important;
  border: 1px solid #ddd !important;
  color: #121212 !important; }
.is-primary {
  background-color: #3273dc !important;
  color: #fff !important; }
.is-danger {
  background-color: #ff3860 !important;
  color: #fff !important; }
.is-warning {
  background-color: #ffdd57 !important;
  color: rgba(0, 0, 0, 0.7) !important; }
.is-success {
  background-color: #23d160 !important;
  color: #fff !important; }
.is-centered {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
.is-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }
.is-left {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }
.is-grouped {
  display: flex;
  clear: both;
  justify-content: center;
  align-items: center; }
.is-grouped-right {
  display: flex;
  clear: both;
  justify-content: flex-end;
  align-items: flex-end; }
.is-grouped-left {
  display: flex;
  clear: both;
  justify-content: flex-start;
  align-items: flex-start; }
.is-link {
  background-color: transparent !important;
  color: #3273dc !important; }
.is-block {
  margin: 1rem 0 2rem; }
.is-expand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center !important; }
.is-bold {
  font-weight: 700; }
.is-added {
  background-color: #5e91e3 !important;
  color: #fff; }
  .is-added td {
    border-top: none;
    color: #fff; }

.initialize-after {
  margin-top: 9.1rem; }

.block {
  margin-bottom: 1.75rem; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0 12px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif; }

h1, .huge {
  line-height: 1.05; }

h2, .large {
  line-height: 1.14; }

h3, .bigger {
  line-height: 1.38; }

h4, .big {
  line-height: 1.38; }

.gigantic {
  line-height: 1.09;
  letter-spacing: -2px; }

.small, small {
  line-height: 1.2; }

.navbar, .navbar-menu,
.navbar-start, .navbar-end {
  display: flex;
  align-items: stretch; }

.navbar {
  background-color: #ca1837;
  min-height: 4.25rem;
  position: relative;
  z-index: 30;
  top: 0;
  width: 100%; }

.navbar .navbar-brand {
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-height: 3.25rem;
  width: 225px;
  display: flex;
  background-color: #2a3142; }
  .navbar .navbar-brand img {
    height: 80px; }

.navbar .navbar-menu {
  flex-grow: 1;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  flex-shrink: 0; }

.navbar .navbar-menu .navbar-start {
  justify-content: flex-start;
  margin-right: auto; }

.navbar .navbar-menu .navbar-end {
  justify-content: flex-end;
  margin-left: auto; }

.navbar-item {
  color: #000;
  display: block;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
  cursor: pointer;
  align-items: center;
  display: flex;
  z-index: 30; }

.navbar-burger {
  cursor: pointer;
  display: none;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  background-color: whitesmoke;
  border-radius: 25px; }

.navbar-burger span {
  background-color: currentColor;
  display: block;
  top: 30%;
  left: 30%;
  height: 3px;
  margin-bottom: 5px;
  margin-left: -2px;
  position: relative;
  -webkit-transform-origin: center;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, -webkit-transform;
  transition-property: background-color, opacity, transform;
  transition-property: background-color, opacity, transform, -webkit-transform;
  transition-timing-function: ease-out;
  width: 25px; }

.navbar-burger:hover {
  background-color: rgba(0, 0, 0, 0.05); }

.navbar-dropdown {
  background-color: white;
  border-top: 2px solid #dbdbdb;
  box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
  font-size: 0.875rem;
  left: 0;
  min-width: 100%;
  position: absolute;
  top: 100%;
  opacity: 0;
  transform: translate(0, 20px);
  transition: all 200ms ease-in-out;
  z-index: 20; }

.navbar-dropdown .navbar-item {
  padding: 1rem;
  white-space: nowrap; }

.navbar-dropdown .navbar-item .icon {
  margin-right: 10px; }

.is-show {
  opacity: 1 !important;
  transform: translate(0, 0px) !important;
  transition: all 320ms ease-in-out !important; }

.search-bar {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4); }

.search-bar .icon {
  font-size: 20px;
  position: relative;
  margin: 0 7px 6px 12px;
  color: #fff; }

.search-bar .input {
  border: none;
  color: #fff;
  outline: none;
  background-color: inherit;
  min-width: 600px;
  min-width: 600px;
  font-size: 16px;
  padding: 12px 15px; }

.logo {
  padding: 4rem 1rem 3rem 1rem;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  top: -10px;
  height: 55px; }
  .logo .text {
    font-family: "Nunito";
    margin-left: 10px;
    font-weight: 700;
    color: #373388;
    font-size: 17px; }

.account {
  background-color: #892227;
  padding: 0 1.5rem;
  color: #fafafa; }

.account img {
  height: 30px;
  border-radius: 25px;
  margin-left: 8px; }

.account p {
  margin-left: 8px; }

.account .icon {
  margin-left: 8px; }

.sidebar {
  background: linear-gradient(#232f49 10%, rgba(255, 0, 0, 0)), url(../../images/img/sidebar-gis-bg.png);
  background-repeat: no-repeat;
  height: 100%;
  padding-top: 7.5rem;
  width: 225px;
  top: 0;
  position: fixed;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: auto;
  z-index: 2;
  table-layout: fixed;
  word-wrap: break-word; }
  .sidebar-wrapper {
    list-style: none;
    padding: .25rem 0;
    word-wrap: break-word; }
    .sidebar-wrapper .sidebar-list {
      display: flex;
      align-items: center;
      transition: all .3s;
      font-size: 17px;
      transition: all 0.5s ease-in-out;
      word-wrap: break-word; }
      .sidebar-wrapper .sidebar-list a {
        color: #fff;
        width: 100%;
        padding: 0.5rem 1.2rem;
        word-wrap: break-word;
        transition: all .3s; }
      .sidebar-wrapper .sidebar-list .sidebar-menu {
        width: 100%;
        list-style: none;
        background-color: rgba(32, 37, 50, 0.4);
        max-height: 0;
        opacity: 0;
        transition: all 150ms ease-in-out; }
        .sidebar-wrapper .sidebar-list .sidebar-menu .sidebar-menu-item {
          transition: all 0.3s ease-in-out; }
          .sidebar-wrapper .sidebar-list .sidebar-menu .sidebar-menu-item a {
            display: flex;
            padding: 0.5rem 1.2rem;
            align-items: center;
            font-weight: 400;
            border-bottom: none;
            transition: all 0.3s ease-in-out; }
            .sidebar-wrapper .sidebar-list .sidebar-menu .sidebar-menu-item a i {
              margin-right: 15px; }
          .sidebar-wrapper .sidebar-list .sidebar-menu .sidebar-menu-item span {
            color: #a7a7a7;
            margin-right: 10px;
            transition: all 0.3s ease-in-out; }
        .sidebar-wrapper .sidebar-list .sidebar-menu .sidebar-menu-item:hover > a {
          margin-left: +10px;
          color: #e5085e; }
          .sidebar-wrapper .sidebar-list .sidebar-menu .sidebar-menu-item:hover > a span {
            color: #e5085e; }
    .sidebar-wrapper .is-show {
      max-height: 300px !important;
      opacity: 1; }
    .sidebar-wrapper .has-child {
      flex-wrap: wrap; }
    .sidebar-wrapper .sidebar-list a:hover {
      color: #41056d;
      font-weight: 700;
      background-color: rgba(255, 255, 255, 0.8); }

.sidenav-mini {
  width: 70px; }

.sidenav-mini a {
  display: none; }

.click-menu {
  display: none;
  padding: 10px 0;
  position: fixed;
  z-index: 9999;
  width: 250px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.item-click {
  border-left: 4px solid dodgerblue; }

.global {
  border-left: 4px solid #2c3e50; }

.click-menu li {
  list-style: none;
  padding: 4px 20px;
  color: #848484;
  cursor: pointer; }

.click-menu li i {
  margin-right: 15px; }

.click-menu li img {
  height: 20px; }

.click-menu li:not(.bdr-bottom):hover {
  background: #f3f3f3; }

.bdr-bottom {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 8px; }

.field {
  width: 100%;
  display: block;
  font-size: 1em;
  outline: none;
  width: 100%;
  box-sizing: border-box; }
  .field .title {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin: 1.25rem auto;
    color: #3273dc; }
  .field .label {
    font-size: 15px;
    color: #919191;
    position: relative;
    float: left; }
  .field .label p {
    font-size: 14px;
    color: #ddd;
    font-style: italic; }
  .field .alert-danger .input {
    border: 1px solid #ff3860 !important; }
  .field .alert-danger p {
    color: #ff3860;
    font-size: 14px; }
  .field .alert-success .input {
    border: 1px solid #23d160 !important; }
  .field .alert-success p {
    color: #23d160;
    font-size: 14px; }
  .field .alert-primary p {
    color: #3273dc;
    font-size: 14px;
    font-weight: 500;
    float: right;
    padding-top: 10px;
    margin-left: auto; }
  .field .alert-primary {
    padding-bottom: 1.25rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .field .is-center {
    width: 100% !important;
    display: flex;
    justify-content: center; }

.form .form-group {
  width: 100%;
  display: block; }
  .form .form-group a {
    margin-right: auto; }
  .form .form-group input {
    font-size: 17px;
    color: #121212;
    padding: 5px 10px; }
  .form .form-group [type="file"] {
    width: 70%;
    display: inline-block; }
  .form .form-group [type="number"] {
    width: 70%;
    display: inline-block; }
  .form .form-group p {
    margin-right: 20px; }
  .form .form-group .input {
    margin-top: 5px;
    width: calc(100% - 10px * 2);
    border: 1px solid #ddd;
    outline: none;
    border-radius: 2px; }
  .form .form-group .input:focus {
    border: 1px solid #3273dc; }
  .form .form-group .input-mandatory {
    background-color: #ffe78a; }
    .form .form-group .input-mandatory::-webkit-input-placeholder {
      color: #919191; }
    .form .form-group .input-mandatory:-moz-placeholder {
      color: #919191; }
    .form .form-group .input-mandatory::-moz-placeholder {
      color: #919191; }
    .form .form-group .input-mandatory:-ms-input-placeholder {
      color: #919191; }
  .form .form-group .input-disabled {
    background-color: #e0e0e0;
    cursor: no-drop; }
    .form .form-group .input-disabled::-webkit-input-placeholder {
      color: #919191; }
    .form .form-group .input-disabled:-moz-placeholder {
      color: #919191; }
    .form .form-group .input-disabled::-moz-placeholder {
      color: #919191; }
    .form .form-group .input-disabled:-ms-input-placeholder {
      color: #919191; }
  .form .form-group button {
    font-size: 15px; }
  .form .form-group .select {
    display: inline-block;
    width: 100%;
    position: relative;
    vertical-align: top; }
    .form .form-group .select select {
      background-color: white;
      border-color: #dbdbdb;
      color: #363636;
      cursor: pointer;
      display: block;
      font-size: 1em;
      outline: none;
      padding: 5px 2.75rem;
      width: 100%;
      box-sizing: border-box; }
    .form .form-group .select select:hover {
      border-color: #b5b5b5; }
  .form .form-group .date-picker {
    display: flex;
    flex-wrap: wrap; }
  .form .form-group .date-picker select:nth-child(1) {
    padding: 5px .5rem;
    width: 60px; }
  .form .form-group .date-picker select:nth-child(2) {
    padding: 5px .5rem;
    width: 120px; }
  .form .form-group .date-picker select:nth-child(3) {
    padding: 5px .5rem;
    width: 80px; }
  .form .form-group .currency {
    position: relative;
    width: 0%;
    left: -115px;
    display: inline-block; }
  .form .form-group .money-asing {
    width: 20%; }
  .form .form-group .dateRange {
    width: 10%; }
  .form .form-group input[type="text"].dateRange {
    width: 29.5%; }
  .form .form-group input[type="money_asing"].money-asing {
    width: 50%; }
  .form .form-group input[type="text"].money {
    width: 67%; }
  .form .form-group > label {
    margin-right: auto;
    width: calc(30% - 20px);
    display: inline-block;
    word-wrap: break-word;
    padding-left: 15px;
    padding-right: 5px;
    float: left; }
  .form .form-group .form-caption {
    font-size: 14px;
    color: #adacac;
    width: 100%;
    display: block;
    font-style: italic;
    float: left;
    padding-left: 15px; }
  .form .form-group input[type="text"], .form .form-group select, .form .form-group textarea {
    margin-left: auto;
    width: 70%;
    display: inline-block; }
  .form .form-group .wrapper, .form .form-group .radioWrapper, .form .form-group .checkboxWrapper {
    margin-left: auto;
    width: 70%;
    display: inline-block; }
  .form .form-group .wrapper input[type="text"] {
    width: 100%; }
.form .form-group:not(:last-child) {
  margin-bottom: 0; }

.display-info {
  display: flex;
  flex-wrap: wrap; }
  .display-info .title {
    width: 100%; }
  .display-info .label {
    width: 50%;
    font-size: 19px;
    color: #121212; }
  .display-info .control {
    width: 50%; }
  .display-info .control p {
    display: inline-block; }

.captcha-area {
  display: block;
  height: 130px;
  width: 250px;
  border: 1px solid #c4c4c4;
  background-color: #ddd; }

.form-start, .form-end {
  width: calc(100% - 20px * 2);
  padding: 20px; }

.form-group {
  width: 100%;
  display: block; }

.form-group .currency {
  position: relative;
  width: 0%;
  left: -115px;
  display: inline-block; }

.form-group .money {
  width: 70%; }

.form-group .dateRange {
  width: 60px; }

.form-group > label {
  margin-right: auto;
  width: calc(30% - 20px);
  display: inline-block;
  word-wrap: break-word;
  padding-left: 15px;
  padding-right: 5px;
  vertical-align: middle; }
  .form-group > label .english-caption {
    font-size: 14px;
    color: #adacac;
    width: 100%;
    display: block;
    font-style: italic; }

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="file"],
.form-group select,
.form-group textarea {
  margin-left: auto;
  width: 70%;
  display: inline-block; }

.form-group .wrapper, .form-group .radioWrapper, .form-group .checkboxWrapper {
  margin-left: auto;
  width: 70%;
  display: inline-block; }

.form-group .wrapper input {
  width: 100%; }

.label-warning,
.label-success,
.label-danger {
  padding: 8px 4px;
  border-radius: 4px;
  margin-right: 15px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  transition: all .3s; }

.label-warning:hover,
.label-success:hover,
.label-danger:hover {
  transform: translate(0, -10px);
  position: relative; }

.btnMargin {
  padding: 10px; }

.form-error .error-help {
  color: #e74c3c;
  display: block;
  padding-left: calc(30% - 20px); }

.filterChooseGroup {
  width: 345px;
  float: right; }

.modal.open .modalWrapper {
  opacity: 1;
  transform: translate(0, 0px);
  transition: all 200ms ease-in-out; }

.modalWrapper {
  position: absolute;
  z-index: 999;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  opacity: 0.5;
  transform: translate(0, -120px);
  transition: all 200ms ease-in-out; }
  .modalWrapper .modal-dialog {
    width: 800px;
    margin: 1rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); }
    .modalWrapper .modal-dialog .modal-header {
      display: flex;
      padding: 1rem;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      align-items: center;
      border-bottom: 1px solid #ddd; }
      .modalWrapper .modal-dialog .modal-header .modal-title {
        font-size: 1.25rem !important; }
      .modalWrapper .modal-dialog .modal-header .close {
        margin-left: auto;
        border-radius: 50px;
        padding: 5px 3px;
        height: inherit;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.2) !important;
        background-color: rgba(0, 0, 0, 0.5); }
        .modalWrapper .modal-dialog .modal-header .close span {
          font-size: .8rem;
          color: #fff; }
    .modalWrapper .modal-dialog .modal-content {
      padding: 1.25rem; }

.filter-overlay .filterBlock {
  opacity: 1;
  transform: translate(0px, 0);
  transition: all 320ms ease-in-out; }

.filterBlock {
  display: block;
  position: fixed;
  z-index: 2000;
  right: 0;
  top: 0;
  width: 500px;
  height: 100%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  color: #3273dc;
  opacity: 1;
  transform: translate(0px, 0);
  transition: all 200ms ease-in-out; }
  .filterBlock .filterHeader {
    padding: 13px;
    display: flex;
    align-items: center;
    width: 100%; }
    .filterBlock .filterHeader .headerStart {
      margin-right: auto; }
      .filterBlock .filterHeader .headerStart h3 {
        display: flex;
        align-items: center;
        font-size: 1.5rem; }
        .filterBlock .filterHeader .headerStart h3 span.icon {
          vertical-align: middle;
          font-size: 1.2rem;
          margin-right: 10px; }
    .filterBlock .filterHeader .headerEnd {
      margin-left: auto; }
      .filterBlock .filterHeader .headerEnd .closeFilter, .filterBlock .filterHeader .headerEnd .closeFilter:hover {
        float: right;
        font-size: 13px;
        display: flex;
        align-items: center;
        padding: 11px 7px;
        line-height: 1;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.2);
        color: #fff;
        border-radius: 50px;
        height: 0; }

.showLimit {
  outline: none;
  border: 0;
  border-bottom: 2px solid #3273dc;
  font-size: 1.25rem;
  margin: 0 15px;
  width: 80px;
  transition: all 0.3s ease-in-out; }

.showLimit:focus {
  border: 1px solid #3273dc; }

.row:nth-child(even) {
  background-color: #f7f5f5; }

.breadcrumb {
  line-height: 1.35rem;
  list-style: none;
  position: relative;
  z-index: 1;
  margin: 0 2px; }
  .breadcrumb li {
    font-size: 17px;
    display: inline-block;
    list-style: none;
    padding: 1rem 0.75rem; }
  .breadcrumb li:not(.active):after {
    color: #b5b5b5;
    content: "/";
    padding-left: 20px; }
  .breadcrumb .active {
    color: #4a4a4a;
    background-color: transparent; }

.notification {
  position: relative;
  margin: 10px;
  background-color: #7a7a7a;
  display: flex;
  padding: 0.75em 1.75rem;
  border-radius: 4px;
  color: #fff;
  align-items: center; }

.notification h1 {
  font-weight: 400;
  font-size: 20px !important; }

.notification .info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: flex-start;
  margin-left: auto; }

.notification .info span {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2); }

.notification .info span:nth-child(1) {
  background-color: #ffdd57; }

.notification .info span:nth-child(3) {
  background-color: white; }

.notification .info span:nth-child(5) {
  background-color: #7a7a7a; }

.notification .info p {
  font-style: italic;
  margin-right: 20px; }

.notification > .delete {
  align-self: flex-start;
  margin-left: auto;
  position: absolute;
  right: 5px;
  top: 5px;
  color: #fff;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 12px;
  padding: 0 .5rem; }

.listNotification {
  display: block;
  position: relative;
  padding-top: 40px; }

.tabs {
  -webkit-overflow-scrolling: touch; }

.tabs a {
  align-items: center;
  justify-content: center;
  margin-bottom: -1px;
  padding: 0.5em 1em; }

.tabs li {
  display: block; }

.tabs > ul.ui-tabs-nav {
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-start;
  border: 1px solid #ddd;
  list-style: none; }
  .tabs > ul.ui-tabs-nav .tabs-item {
    display: block;
    list-style: none; }
    .tabs > ul.ui-tabs-nav .tabs-item a {
      align-items: center;
      color: #4a4a4a;
      display: flex;
      justify-content: center;
      margin-bottom: -1px;
      vertical-align: top;
      padding: 0.5em 1em; }

.tabs-element {
  padding: 0 10px;
  padding-right: 20px;
  border: 1px solid #ddd; }

.button, button {
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: middle;
  color: #7a7a7a;
  transition: all .3s;
  margin: 5px; }

.button .fas {
  line-height: 1.5; }

.button.is-default:hover,
.button:hover,
button.is-default:hover,
button:hover {
  box-shadow: 0 4px 15px 1px rgba(0, 0, 0, 0.1);
  background-color: #c4c4c4 !important;
  transform: translate(0, 3px); }

.button.is-primary:hover, button.is-primary:hover {
  box-shadow: 0 4px 15px 1px rgba(0, 0, 255, 0.3);
  background-color: #205bbb !important;
  transform: translate(0, 3px); }

.button.is-success:hover, button.is-success:hover, .label-success:hover, .label-success.active {
  box-shadow: 0 4px 15px 1px rgba(0, 255, 0, 0.3);
  background-color: #1ca54c !important;
  transform: translate(0, 3px); }

.button.is-warning:hover, button.is-warning:hover, .label-warning:hover, .label-warning.active {
  box-shadow: 0 4px 15px 1px rgba(255, 255, 0, 0.3);
  background-color: #ffd324 !important;
  transform: translate(0, 3px); }

.button.is-danger:hover, button.is-danger:hover, .label-danger:hover, .label-danger.active {
  box-shadow: 0 4px 15px 1px rgba(255, 0, 255, 0.3);
  background-color: #eb002f !important;
  transform: translate(0, 3px); }

.button:not(:last-child) {
  margin-right: 10px; }

.button .icon, button .icon {
  display: flex;
  align-items: center;
  margin: auto 4px; }

.is-rounded {
  border-radius: 25px;
  padding: 7px 5px; }

.is-wide {
  padding-left: calc(2.625em - 1px);
  padding-right: calc(2.625em - 1px); }

.dropdown-menu {
  margin-top: 5px;
  visibility: hidden;
  position: absolute;
  display: table-row !important;
  padding: 10px 50px 10px 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2); }

.dropdown-menu li {
  display: table-row;
  font-size: 17px; }

.waitingList {
  width: 100%; }

.btnNote span {
  display: inline-block;
  padding: 5px;
  border: 1px;
  background: white;
  color: #3273dc;
  border-radius: 10px;
  width: 18px;
  height: 18px;
  line-height: 8px;
  font-size: 0.9em; }

.is-verification {
  background: #e67e22;
  color: white !important; }

.is-verified {
  background: #2ecc71;
  color: white  !important; }

.is-rejected {
  background: #e74c3c;
  color: white  !important; }

.badge {
  padding: 2px 8px;
  border-radius: 2px;
  color: #fff;
  margin: 2px;
  margin-right: 10px;
  background-color: #7a7a7a;
  font-size: 12px;
  margin-left: auto; }

.is-noticable {
  font-size: 13px;
  padding: 4px 8px;
  border-radius: 25px;
  background-color: #ffdd57, rgba(0, 0, 0, 0.7); }

.pagination {
  padding: 10px;
  background-color: #fff; }

.pagination li:hover {
  background-color: #f8f8f8; }

.panel {
  position: relative;
  margin: 10px;
  background-color: white;
  padding: 0.75em 1.75rem;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); }

.panel .panel-heading {
  height: 50%;
  background-color: dodgerblue; }

.panel .panel-wrapper {
  height: 50%;
  background-color: red; }

.collapse {
  margin: 15px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); }

.bordered {
  margin: 10px 0;
  padding: 0.75rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0);
  border: 1px solid #ddd; }

.card {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 8px 26px rgba(50, 115, 220, 0.4);
  padding: 10px;
  border-radius: 4px;
  align-self: center;
  margin: 10px 0; }

.card-header {
  display: flex;
  justify-content: center; }
  .card-header .icon__check {
    position: absolute;
    height: 50px !important;
    min-height: 50px !important;
    /* right: 0; */
    /* top: -10px; */
    bottom: -22px;
    margin-left: 67px; }

.card-header img {
  height: 100px;
  min-height: 100px; }

.card-title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-family: "Nunito";
  font-weight: 700;
  color: #0026ff;
  margin: 5px 0; }

.card-footer {
  justify-content: center;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  margin: 5px 0; }

.card-footer span {
  color: #3273dc;
  margin-left: 5px;
  cursor: pointer; }

.card-footer ul {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap; }

.card-success {
  background-color: #73e79c;
  color: rgba(0, 0, 0, 0.8); }

.card-warning {
  background-color: #ffe78a;
  color: rgba(0, 0, 0, 0.8); }

.card-danger {
  background-color: #ff6b89;
  color: rgba(0, 0, 0, 0.8); }

.align-left {
  justify-content: flex-start; }

.summary {
  width: 95%;
  margin: 15px; }

.summary-title {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px; }

.summary-title span {
  font-size: 14px;
  margin-left: auto;
  align-self: flex-end; }

.summary-bars {
  width: 100%;
  position: relative; }

.summary-bars span {
  display: block;
  width: 100%;
  height: 8px;
  border-radius: 25px;
  background-color: #ddd;
  position: relative; }

.summary-bars .bar-top {
  z-index: 1;
  width: 33.33%;
  position: absolute; }

.summary-bars .bar-bottom {
  z-index: 0;
  width: 100%; }

* {
  margin: 0;
  padding: 0; }

.pie-chart {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.chart {
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%; }

.chart-info {
  list-style: none;
  margin-left: 20px; }
  .chart-info li {
    list-style: none;
    margin-bottom: 15px;
    display: flex;
    align-items: center; }
    .chart-info li span {
      width: 20px;
      height: 20px;
      display: block;
      border-radius: 4px;
      background-color: #ddd;
      margin-right: 5px; }
    .chart-info li .is-dt {
      background-color: #2e86de; }
    .chart-info li .is-dh {
      background-color: #222f3e; }
    .chart-info li .is-tdp {
      background-color: #1dd1a1; }

.pieTip {
  position: absolute;
  font-family: "Oswald", "Helvetica Newe", Helvetica, sans-serif;
  float: left;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 18px 6px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.97);
  color: #444;
  font-size: 19px;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-transform: all .3s;
  -moz-transform: all .3s;
  -ms-transform: all .3s;
  -o-transform: all .3s;
  transform: all .3s;
  pointer-events: none; }

.pieTip:after {
  position: absolute;
  font-family: "Oswald", "Helvetica Newe", Helvetica, sans-serif;
  left: 50%;
  bottom: -6px;
  content: "";
  height: 0;
  margin: 0 0 0 -6px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 6px solid rgba(255, 255, 255, 0.95);
  line-height: 0; }

.chart path {
  cursor: pointer; }

.accordion-header {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
  transition: 0.4s;
  border-radius: 0;
  display: flex; }

.accordion-header .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0; }

.accordion:hover {
  background-color: #ccc; }

.accordion-panel {
  transition: all .3s;
  background-color: white;
  overflow: hidden; }
  .accordion-panel li {
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #eeeeee; }

.accordion-panel.active {
  max-height: 300px;
  opacity: 1;
  transition: all .3s;
  visibility: visible; }

.scrollbar {
  overflow-x: hidden;
  height: 550px; }

#custom-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
  margin: 10px 0; }

#custom-scroll::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

#custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #7a99d9), color-stop(0.72, #497dbd), color-stop(0.86, #1c3a94)); }

.treeView .treeDropdown ul li {
  padding: 0px 20px; }
  .treeView .treeDropdown ul li .inline-form-input {
    display: inline;
    float: left; }
  .treeView .treeDropdown ul li .inline-form {
    display: inline-block;
    width: calc(100% - 20px); }

#buktiSetor {
  padding: 20px; }
  #buktiSetor > .linetree {
    margin: 10px 0px; }

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
  width: 100%; }

.custom-select-wrapper select {
  display: none; }

.custom-select {
  position: relative;
  display: inline-block;
  width: 100%; }

.custom-select-trigger {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 22px;
  font-size: 19px;
  font-weight: 300;
  color: #fff;
  line-height: 60px;
  background: #5c9cd8;
  border-radius: 4px;
  cursor: pointer; }

.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  right: 25px;
  margin-top: -3px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0; }

.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%); }

.custom-options {
  position: absolute;
  display: block;
  z-index: 1;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  margin: 11px 0 15px;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
  background: #fff;
  transition: all .4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px); }

.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0); }

.custom-options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%;
  right: 25px;
  width: 7px;
  height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  transition: all .4s ease-in-out; }

.option-hover:before {
  background: #f9f9f9; }

.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  border-bottom: 1px solid #b5b5b5;
  font-size: 18px;
  font-weight: 600;
  color: #b5b5b5;
  line-height: 47px;
  cursor: pointer;
  transition: all .4s ease-in-out; }

.custom-option:first-of-type {
  border-radius: 4px 4px 0 0; }

.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px; }

.custom-option:hover,
.custom-option.selection {
  background: #f9f9f9; }

ul, #myUL {
  list-style-type: none; }

#myUL {
  margin: 0;
  padding: 5px 15px; }

.caret {
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none; }

.caret::before {
  /*content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;*/ }

.nested {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  margin-left: 37px;
  margin-top: 7px;
  transition: all .3s; }

.nested.active {
  visibility: visible;
  max-height: 300px;
  opacity: 1;
  transition: all .3s; }

.icon.tree {
  margin-right: 15px;
  padding: 1px 7px;
  background-color: #f8f8f8;
  color: #788493;
  border-radius: 15px; }

.icon.tree.active {
  background-color: #23d160;
  color: #fff; }

.icon.tree i {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.icon.tree.active i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

#myUL li {
  /*border-left: 1px solid #ddd;*/
  /*padding-left: 7px;*/
  padding: 5px 0; }

.nested {
  /*border-left: 1px solid #ddd;*/ }

.nested li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-align-items: center;
  align-items: center;
  padding: 5px 0; }
  .nested li span.icon.tree {
    padding: 0 7px; }

/*.nested li:before {
  content: "";
  display: block;
  margin-right: 3px;
  height: 1px;
  width: 10px;
  background-color: #ddd;
}*/
.nested li ul {
  flex-grow: 1;
  width: 100%; }

ul.nested,
ul.nested ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul.nested ul {
  margin-left: 16px; }
ul.nested li {
  margin-left: 12px;
  border-left: thin solid #ddd; }
ul.nested li:last-child {
  border-left: thin solid #ddd; }
ul.nested li:before {
  width: 0.9em;
  height: 0.6em;
  margin-top: -4px;
  margin-right: 0.1em;
  vertical-align: top;
  border-bottom: thin solid #ddd;
  content: "";
  display: inline-block; }

.alert {
  padding: 15px;
  border: 1px solid transparent;
  width: 100%; }

.alert-danger {
  background-color: #feefee;
  border-color: #feefee;
  color: #dc1a0c; }

.alert-success {
  background-color: #e2f2e2;
  border-color: #e2f2e2;
  color: #459a49; }

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc; }

.alert-warning h3 {
  color: #8a6d3b;
  margin-bottom: 10px; }

#base {
  width: 100%; }
  #base .force-half {
    width: 50%;
    display: flex;
    flex-wrap: wrap; }
  #base .force-full {
    width: 100%; }

.report-wrapper {
  padding: 25px;
  position: relative; }
  .report-wrapper .custom-button, .report-wrapper .select-button {
    font-size: 1rem;
    margin: 7px;
    padding: 8px;
    padding-left: 15px;
    border-radius: 4px;
    transition: all .3s;
    background-color: transparent;
    color: #121212;
    background-color: #c4c4c4;
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0); }
    .report-wrapper .custom-button:hover, .report-wrapper .custom-button.active, .report-wrapper .select-button:hover, .report-wrapper .select-button.active {
      box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.3); }
  .report-wrapper .checked {
    background-color: #3bd999;
    color: #fff; }
  .report-wrapper .checked:hover {
    background-color: #3bd999 !important;
    box-shadow: 0 6px 16px 0 rgba(0, 175, 55, 0.3) !important;
    color: #fff; }
  .report-wrapper .report-bottom {
    width: 100%;
    flex-grow: 1;
    display: flex;
    padding-top: 5px;
    border-top: 1px solid #ddd; }
    .report-wrapper .report-bottom .select-btn {
      margin-left: auto;
      padding-left: 8px;
      width: 120px;
      border-radius: 4px;
      background-color: #3273dc; }

.toggleButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 15px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform .14s ease;
  transition: transform .14s ease;
  transition: transform .14s ease, -webkit-transform .14s ease;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

.toggleButton:active {
  -webkit-transform: rotateX(60deg);
  transform: rotateX(60deg); }

.toggleButton input {
  display: none; }

.toggleButton input + div {
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: relative;
  width: 25px;
  height: 25px; }

.toggleButton input + div svg {
  fill: none;
  stroke-width: 3.6;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
  z-index: 1;
  stroke-dashoffset: 124.6;
  stroke-dasharray: 0 162.6 133 29.6;
  transition: all .4s ease 0s; }

.toggleButton input + div:before, .toggleButton input + div:after {
  content: '';
  width: 3px;
  height: 16px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 5px; }

.toggleButton input + div:before {
  opacity: 0;
  display: none;
  -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  -webkit-animation: bounceInBefore .3s linear forwards .3s;
  animation: bounceInBefore .3s linear forwards .3s; }

.toggleButton input + div:after {
  opacity: 0;
  display: none;
  -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  -webkit-animation: bounceInAfter .3s linear forwards .3s;
  animation: bounceInAfter .3s linear forwards .3s; }

.toggleButton input:checked + div svg {
  stroke-dashoffset: 162.6;
  stroke-dasharray: 0 162.6 28 134.6;
  transition: all .4s ease .2s;
  stroke: #fff; }

.toggleButton input:checked + div:before {
  opacity: 0;
  -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  -webkit-animation: bounceInBeforeDont .3s linear forwards 0s;
  animation: bounceInBeforeDont .3s linear forwards 0s; }

.toggleButton input:checked + div:after {
  opacity: 0;
  -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  -webkit-animation: bounceInAfterDont .3s linear forwards 0s;
  animation: bounceInAfterDont .3s linear forwards 0s; }

@-webkit-keyframes bounceInBefore {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
    transform: scale(0.3) translate(-50%, -50%) rotate(45deg); }
  50% {
    opacity: 0.9;
    -webkit-transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
    transform: scale(1.1) translate(-50%, -50%) rotate(45deg); }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.89) translate(-50%, -50%) rotate(45deg);
    transform: scale(0.89) translate(-50%, -50%) rotate(45deg); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(45deg);
    transform: scale(1) translate(-50%, -50%) rotate(45deg); } }
@keyframes bounceInBefore {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
    transform: scale(0.3) translate(-50%, -50%) rotate(45deg); }
  50% {
    opacity: 0.9;
    -webkit-transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
    transform: scale(1.1) translate(-50%, -50%) rotate(45deg); }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.89) translate(-50%, -50%) rotate(45deg);
    transform: scale(0.89) translate(-50%, -50%) rotate(45deg); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(45deg);
    transform: scale(1) translate(-50%, -50%) rotate(45deg); } }
@-webkit-keyframes bounceInAfter {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
    transform: scale(0.3) translate(-50%, -50%) rotate(-45deg); }
  50% {
    opacity: 0.9;
    -webkit-transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
    transform: scale(1.1) translate(-50%, -50%) rotate(-45deg); }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.89) translate(-50%, -50%) rotate(-45deg);
    transform: scale(0.89) translate(-50%, -50%) rotate(-45deg); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(-45deg);
    transform: scale(1) translate(-50%, -50%) rotate(-45deg); } }
@keyframes bounceInAfter {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
    transform: scale(0.3) translate(-50%, -50%) rotate(-45deg); }
  50% {
    opacity: 0.9;
    -webkit-transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
    transform: scale(1.1) translate(-50%, -50%) rotate(-45deg); }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.89) translate(-50%, -50%) rotate(-45deg);
    transform: scale(0.89) translate(-50%, -50%) rotate(-45deg); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(-45deg);
    transform: scale(1) translate(-50%, -50%) rotate(-45deg); } }
@-webkit-keyframes bounceInBeforeDont {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(45deg);
    transform: scale(1) translate(-50%, -50%) rotate(45deg); }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
    transform: scale(0.3) translate(-50%, -50%) rotate(45deg); } }
@keyframes bounceInBeforeDont {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(45deg);
    transform: scale(1) translate(-50%, -50%) rotate(45deg); }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
    transform: scale(0.3) translate(-50%, -50%) rotate(45deg); } }
@-webkit-keyframes bounceInAfterDont {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(-45deg);
    transform: scale(1) translate(-50%, -50%) rotate(-45deg); }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
    transform: scale(0.3) translate(-50%, -50%) rotate(-45deg); } }
@keyframes bounceInAfterDont {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(-45deg);
    transform: scale(1) translate(-50%, -50%) rotate(-45deg); }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
    transform: scale(0.3) translate(-50%, -50%) rotate(-45deg); } }
.dots-list {
  width: 100%;
  padding: 10px 0px; }

.dots-list ol {
  padding-left: 230px;
  position: relative;
  margin-bottom: 20px;
  list-style: none !important; }

.dots-list ol li {
  position: relative;
  margin-top: 0em;
  margin-bottom: 20px;
  word-break: break-word; }

.dots-list ol li .date {
  position: absolute;
  left: -183px;
  font-weight: bold;
  font-size: 0.9em;
  top: -2px;
  line-height: 2em; }

.dots-list ol li:before {
  content: "";
  background: #35a6cb;
  /*edit line colour*/
  position: absolute;
  width: 2px;
  top: 5px;
  bottom: -25px;
  left: -25px; }

.dots-list ol li:after {
  content: "";
  background: #c7d8dd;
  /*edit circle colour*/
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  border: 2px solid #35a6cb;
  /*edit circle border colour*/
  top: 5px;
  left: -31px; }

.dots-list ol li:last-child:before {
  content: "";
  background: rgba(0, 0, 0, 0); }

body {
  background-color: #f9f9f9; }

.auction-timeline {
  padding: 15px;
  border-radius: 4px;
  margin: 5px 0;
  background-color: #fff; }
  .auction-timeline .danger {
    border-left: 5px solid #ff3860 !important; }
    .auction-timeline .danger span.icon-line {
      background-color: #ff3860 !important;
      border: 4px solid #ff0537 !important; }
  .auction-timeline .danger.timeline-content .tl-after {
    background: repeating-linear-gradient(45deg, #ff6b89, #ff6b89 10px, #ff3860 10px, #ff3860 20px) !important;
    color: #ff3860 !important; }
  .auction-timeline .success {
    border-left: 5px solid #23d160 !important; }
    .auction-timeline .success span.icon-line {
      background-color: #23d160 !important;
      border: 4px solid #1ca54c !important; }
  .auction-timeline .success.timeline-content .tl-after {
    background: repeating-linear-gradient(45deg, #47e07d, #47e07d 10px, #23d160 10px, #23d160 20px) !important;
    color: #23d160 !important; }
  .auction-timeline .timeline-item {
    list-style: none;
    position: relative;
    padding: 15px;
    border-left: 5px solid #3273dc;
    font-family: "Open Sans"; }
    .auction-timeline .timeline-item span.icon-line {
      float: left;
      position: absolute;
      font-size: 12px;
      background-color: #3273dc;
      color: #fff;
      border: 4px solid #205bbb;
      height: 35px;
      width: 35px;
      text-align: center;
      /* padding: 6px; */
      line-height: 2.2;
      border-radius: 25px;
      left: -21px;
      top: calc(50% - 17px);
      font-weight: 700; }
    .auction-timeline .timeline-item .timeline-content {
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      margin-left: 10px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
      .auction-timeline .timeline-item .timeline-content .tl {
        width: calc(100% - 5px * 2);
        padding: 5px 15px; }
        .auction-timeline .timeline-item .timeline-content .tl .center {
          text-align: center;
          color: #b7b5b5;
          font-size: 14px; }
        .auction-timeline .timeline-item .timeline-content .tl li {
          list-style: none; }
        .auction-timeline .timeline-item .timeline-content .tl .new-bid {
          font-size: 15px;
          font-weight: 300; }
        .auction-timeline .timeline-item .timeline-content .tl .bid-name {
          font-size: 17px;
          font-weight: 400; }
        .auction-timeline .timeline-item .timeline-content .tl .bid-price {
          font-weight: 700; }
          .auction-timeline .timeline-item .timeline-content .tl .bid-price .bid-number {
            width: 200px; }
          .auction-timeline .timeline-item .timeline-content .tl .bid-price .center {
            display: inline-block;
            margin: 0 25px; }
          .auction-timeline .timeline-item .timeline-content .tl .bid-price span {
            font-weight: 400;
            font-size: 14px;
            color: #b7b5b5;
            margin: 0 15px; }
        .auction-timeline .timeline-item .timeline-content .tl .bid-kurs {
          font-weight: 300;
          color: #b7b5b5; }
          .auction-timeline .timeline-item .timeline-content .tl .bid-kurs .bid-number {
            width: 200px; }
          .auction-timeline .timeline-item .timeline-content .tl .bid-kurs .center {
            display: inline-block;
            margin: 0 25px; }
          .auction-timeline .timeline-item .timeline-content .tl .bid-kurs span {
            font-weight: 700; }
          .auction-timeline .timeline-item .timeline-content .tl .bid-kurs span.icon {
            position: relative;
            font-size: 17px;
            color: #b7b5b5;
            margin: 0 25px; }
        .auction-timeline .timeline-item .timeline-content .tl .bid-time {
          font-size: 14px;
          color: #b7b5b5; }
      .auction-timeline .timeline-item .timeline-content:not(:last-child) {
        margin-bottom: 10px; }
      .auction-timeline .timeline-item .timeline-content .tl-after {
        width: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background: repeating-linear-gradient(45deg, #5e91e3, #5e91e3 10px, #3273dc 10px, #3273dc 20px);
        color: #3273dc; }
        .auction-timeline .timeline-item .timeline-content .tl-after .decline, .auction-timeline .timeline-item .timeline-content .tl-after .ranking {
          background-color: #fff;
          border-radius: 2px;
          padding: 5px;
          margin: 5px;
          width: calc(100% - 10px * 2);
          border-radius: 25px;
          text-align: center;
          font-size: 13px; }

.auction-table {
  width: 100%;
  font-family: "Open Sans";
  border-collapse: collapse;
  margin-bottom: 1.75rem; }
  .auction-table td, .auction-table th {
    text-align: center;
    border: none;
    padding: 5px 15px;
    font-size: 14px; }
  .auction-table .header {
    background-color: #ddd !important; }
  .auction-table tr:nth-child(odd) {
    background-color: #fafafa; }

.auction-form {
  width: 100%;
  font-family: "Open Sans";
  border-collapse: collapse; }
  .auction-form td, .auction-form th {
    text-align: center;
    border: none;
    padding: 5px 0;
    font-size: 14px; }
    .auction-form td input, .auction-form th input {
      padding: 3px 5px;
      width: calc(80% - 5px * 2); }
  .auction-form .header {
    background-color: #ddd !important; }

.step-wrapper {
  width: calc(100% - 15px * 2);
  padding: 15px;
  display: flex;
  justify-content: center; }
  .step-wrapper ul li {
    list-style: none;
    display: inline-block; }
    .step-wrapper ul li:not(:last-child) {
      margin-right: 100px; }
    .step-wrapper ul li.active .step {
      filter: grayscale(0); }
      .step-wrapper ul li.active .step .step-icon:after {
        border-bottom: 5px solid #1e81ce; }
    .step-wrapper ul li.denied .step {
      filter: grayscale(0); }
      .step-wrapper ul li.denied .step .step-icon {
        border: 5px solid #ff3860; }
        .step-wrapper ul li.denied .step .step-icon img {
          filter: grayscale(1); }
    .step-wrapper ul li .step {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      filter: grayscale(1); }
      .step-wrapper ul li .step .step-icon {
        display: block;
        background-color: #fff;
        color: #fff;
        border-radius: 75px;
        padding: 18px 16px;
        border: 5px solid #1e81ce; }
        .step-wrapper ul li .step .step-icon img {
          height: 55px; }
      .step-wrapper ul li .step .step-title {
        text-align: center;
        margin-top: 10px; }
    .step-wrapper ul li .active {
      filter: greyscale(0) !important; }
      .step-wrapper ul li .active .step-icon:after {
        border-bottom: 7px solid #1e81ce; }
  .step-wrapper ul li:not(:last-child) .step .step-icon:after {
    content: "";
    display: block;
    width: 111px;
    right: -111px;
    top: 48px;
    position: absolute;
    border-bottom: 5px dashed #1e81ce; }
  .step-wrapper ul li:not(:last-child).active .step {
    filter: grayscale(0); }
    .step-wrapper ul li:not(:last-child).active .step .step-icon:after {
      border-bottom: 5px solid #1e81ce; }
  .step-wrapper ul li:not(:last-child).denied .step {
    filter: grayscale(0); }
    .step-wrapper ul li:not(:last-child).denied .step .step-icon:after {
      border-bottom: 5px dashed #727272; }

.list-wrapper {
  width: 100%; }
  .list-wrapper ul li {
    display: block;
    width: 100%; }
    .list-wrapper ul li:not(:last-child) .list-item {
      border-bottom: 1px solid #ddd; }
  .list-wrapper .list-item {
    width: calc(100% - 15px * 2);
    padding: 15px;
    display: flex;
    align-items: center; }
    .list-wrapper .list-item .list-image {
      display: block;
      height: 65px;
      width: 65px;
      border-radius: 4px;
      background-color: #ddd;
      margin-right: 15px;
      background-size: contain; }
    .list-wrapper .list-item .list-attr {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%; }
      .list-wrapper .list-item .list-attr .list-name {
        font-size: 1.35rem;
        width: 50%; }
      .list-wrapper .list-item .list-attr .list-caption {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%; }
        .list-wrapper .list-item .list-attr .list-caption .amount {
          color: #a0a0a0; }

.wrapper {
  display: flex;
  flex-wrap: wrap; }

.wrapper .col {
  position: relative; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.container-title {
  display: flex;
  margin-bottom: .75rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd; }

.content {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 4rem; }

.foldering {
  width: calc((50 % - 10px) / 2);
  margin: 0 10px; }

.folderHeader {
  margin: 10px; }
  .folderHeader .col {
    display: inline-block; }
  .folderHeader .col.folderAddition {
    text-align: right; }

.foldering-title {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #ddd; }

.foldering-title h1 {
  font-size: 30px !important;
  padding-right: 25px; }

.foldering-title .group-button-start {
  margin-right: auto; }

.foldering-title .group-button-end {
  margin-left: auto; }

.foldering ul.folderWrapperChild {
  list-style: none;
  display: flex;
  flex-wrap: wrap; }

.foldering ul li {
  list-style: none; }

.header .view .view-item img {
  opacity: 0; }

.header .view .view-item .caption p {
  font-weight: 600;
  font-size: 17px; }

.foldering .view-box {
  margin: 10px;
  background-color: #f8f8f8;
  max-height: 180px;
  transition: all .3s;
  overflow: hidden;
  border-radius: 4px;
  border: 2px solid #ddd; }

.foldering .view-box .view-item {
  display: flex;
  justify-content: flex-start;
  padding: 17px;
  transition: all .3s;
  cursor: pointer; }

.foldering .view-box .view-item img {
  height: 130px;
  position: relative;
  z-index: 0;
  top: 2.1rem;
  left: 13.39rem;
  opacity: .3; }

.foldering .view-box .view-item img:nth-child(2) {
  opacity: 0;
  display: none;
  position: absolute;
  height: 45px;
  margin-top: 10px;
  margin-left: 22px; }

.foldering .view-box .view-item .caption {
  padding-left: 15px;
  line-height: 2rem;
  font-size: 14px;
  position: relative;
  left: -8rem;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  color: #565656;
  width: 100%; }
  .foldering .view-box .view-item .caption p {
    margin-right: 10px;
    width: 300px; }

.foldering .view-box .view-item .caption p:nth-child(1) {
  font-size: 16px;
  font-weight: 600; }

.foldering .view-box .view-item .caption p:nth-child(1) {
  font-size: 16px;
  font-weight: 600; }

.foldering .view-box .viev-item:hover > img:last-child {
  opacity: 1;
  display: block; }

.foldering .view-box.successUpload {
  background: #55efc4;
  border-color: #49d6af; }

.foldering .view-list {
  width: 100%;
  transition: all .3s;
  margin: 5px 10px;
  border-bottom: 1px solid #ddd; }

.foldering .view-list .view-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  transition: all .3s;
  padding: 5px;
  cursor: pointer; }

.foldering .view-list .view-item img {
  height: 30px; }

.foldering .view-list .view-item img:nth-child(2) {
  opacity: 0;
  display: none;
  position: absolute;
  height: 45px;
  margin-top: 10px;
  margin-left: 22px; }

.foldering .view-list .view-item .caption {
  padding-left: 15px;
  line-height: 2rem;
  font-size: 14px;
  color: #7a7a7a;
  width: calc(100% - 30px);
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.foldering .view-list:hover, .foldering .view-box:hover {
  background-color: #f8f8f8; }

.foldering-footer {
  margin: 0 10px 3rem;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.view-box .caption > * {
  width: 100% !important; }

.folderWrapper .header .view-item .caption {
  margin-left: 45px;
  padding-left: 0px; }

.noData {
  text-align: center;
  margin: 0 auto; }

.foldering .view-list .view-item .caption > p {
  word-break: break-all; }

.container {
  width: 100%;
  margin: 0 10px; }

.container-title {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #ddd; }

.container-title h1 {
  font-size: 30px !important;
  padding-right: 25px; }

.container-title .group-button-start {
  margin-right: auto; }

.container-title .group-button-end {
  margin-left: auto; }

.container ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap; }

.container ul li {
  list-style: none; }

.header .view .view-item img {
  opacity: 0; }

.container .view-box {
  margin: 10px;
  background-color: #f8f8f8;
  min-height: 150px;
  border-radius: 4px;
  border: 2px solid #ddd; }

.container .view-box .view-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 17px;
  cursor: pointer; }

.container .view-box .view-item img {
  height: 100px; }

.container .view-box .view-item img:nth-child(2) {
  opacity: 0;
  display: none;
  position: absolute;
  height: 45px;
  margin-top: 10px;
  margin-left: 22px; }

.container .view-box .view-item .caption {
  padding-left: 15px;
  line-height: 2rem;
  font-size: 14px;
  color: #7a7a7a; }

.container .view-box .view-item .caption p:nth-child(1) {
  font-size: 20px;
  font-weight: 600; }

.container .view-box .viev-item:hover > img:last-child {
  opacity: 1;
  display: block; }

.container .view-list {
  width: 100%;
  margin: 5px 10px;
  border-bottom: 1px solid #ddd; }

.container .view-list .view-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  cursor: pointer; }

.container .view-list .view-item img {
  height: 30px; }

.container .view-list .view-item img:nth-child(2) {
  opacity: 0;
  display: none;
  position: absolute;
  height: 45px;
  margin-top: 10px;
  margin-left: 22px; }

.container .view-list .view-item .caption {
  padding-left: 15px;
  line-height: 2rem;
  font-size: 14px;
  color: #7a7a7a;
  width: calc(100% - 30px);
  display: flex;
  flex-wrap: wrap; }
  .container .view-list .view-item .caption p {
    width: 33.33%; }

.container .view-list:hover {
  background-color: #f8f8f8; }

.container-footer {
  margin: 0 10px 3rem;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.divide {
  border-top: 1px solid #cdcdcd;
  margin-top: 30px;
  padding-top: 20px; }

.spin {
  transition: .3s; }

.spin-effect {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg); }

.pulse {
  cursor: pointer;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 rgba(50, 115, 220, 0.4);
  animation: pulse 3s infinite; }

.pulse:hover {
  animation: none; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(50, 115, 220, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 50px rgba(204, 169, 44, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(50, 115, 220, 0.4);
    box-shadow: 0 0 0 0 rgba(50, 115, 220, 0.4); }
  70% {
    -moz-box-shadow: 0 0 0 50px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 50px rgba(204, 169, 44, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

canvas {
  background-color: transparent;
  z-index: 0;
  position: absolute; }

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("../../source/img/bg-lspro.jpg") no-repeat center center;
  background-size: cover;
  transform: scale(1.1); }

.overlay {
  background-color: rgba(26, 56, 111, 0.45);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0; }

.form-login {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px; }
  .form-login .group-start, .form-login .group-end {
    width: 50%;
    height: 400px; }
  .form-login .group-start {
    background-color: rgba(44, 49, 172, 0.4);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; }
    .form-login .group-start .logo-wrapper {
      background-color: #fff;
      padding: 10px;
      border-radius: 4px 35px 4px 35px;
      width: 50%;
      height: 79px;
      position: relative;
      margin-top: 20px;
      margin-left: -15px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      font-weight: 400;
      color: #000; }
      .form-login .group-start .logo-wrapper .is-bold {
        font-weight: 700; }
      .form-login .group-start .logo-wrapper img {
        height: 58px;
        float: left;
        margin-right: 10px; }
    .form-login .group-start .logo-title {
      color: #fff;
      font-size: 3rem;
      font-weight: 300;
      padding-left: 40px;
      padding-top: 20px; }
      .form-login .group-start .logo-title .line {
        display: flex;
        width: 100%;
        align-items: flex-end;
        justify-content: flex-end;
        margin-left: -10rem;
        margin-top: 15px; }
        .form-login .group-start .logo-title .line span {
          height: 4px;
          width: 60px;
          display: inline-block;
          background-color: #fff; }
        .form-login .group-start .logo-title .line span:nth-child(1) {
          background-color: #ed1b2f; }
        .form-login .group-start .logo-title .line span:nth-child(2) {
          background-color: #acc32b; }
        .form-login .group-start .logo-title .line span:nth-child(3) {
          background-color: #006cb7; }
  .form-login .group-end {
    background-color: #fff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; }
    .form-login .group-end .form-wrapper {
      position: relative; }
      .form-login .group-end .form-wrapper .title {
        font-size: 2.75rem;
        position: absolute;
        top: 11px;
        width: 100%;
        font-family: "Nunito";
        /* left: -22px; */
        color: #ddd;
        padding: 15px 15px 15px 45px; }
        .form-login .group-end .form-wrapper .title span.icon__login {
          background-color: #fff;
          color: #2c31ac;
          line-height: 0;
          text-align: center;
          height: 65px;
          width: 65px;
          padding-left: 4px;
          font-size: 3rem;
          border-radius: 50px;
          position: absolute;
          left: -33px;
          top: 12px;
          border: 8px solid rgba(44, 49, 172, 0.4); }
    .form-login .group-end .field {
      margin: 65px auto; }
      .form-login .group-end .field .control input {
        width: 100%; }

.form-wrapper {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: row; }
  .form-wrapper .title {
    font-size: 1.25rem;
    padding: 15px; }
  .form-wrapper .form {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
    .form-wrapper .form fieldset {
      border: none;
      outline: none; }
    .form-wrapper .form .form-control {
      width: 100%;
      display: flex;
      font-family: "Nunito";
      margin-bottom: 5px; }
      .form-wrapper .form .form-control label {
        font-size: 1rem;
        color: #7d8f9e;
        font-weight: 700; }
      .form-wrapper .form .form-control input {
        padding: 5px 15px;
        width: calc(100% - 15px * 2);
        border-radius: 4px;
        border: 1px solid #ddd; }
    .form-wrapper .form .add-on {
      display: flex;
      flex-direction: row;
      font-size: 14px;
      color: #7d8f9e;
      padding: 5px 0;
      position: relative;
      margin-top: -10px; }
      .form-wrapper .form .add-on .checkbox {
        display: flex;
        align-items: center; }
        .form-wrapper .form .add-on .checkbox input[type='checkbox'] {
          margin-right: 5px; }
      .form-wrapper .form .add-on .link {
        margin-left: auto; }
    .form-wrapper .form .button-group {
      margin-top: 3rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      .form-wrapper .form .button-group button {
        width: 150px;
        justify-content: center; }

.btn-hover {
  width: 200px;
  font-size: 17px;
  padding: 5px 15px;
  color: #fff;
  font-family: "Nunito";
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 4px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.btn-hover:focus {
  outline: none; }

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #5640cf, #405ccf, #20bfe2);
  box-shadow: 0 4px 15px 0 rgba(36, 63, 255, 0.3); }

.pajakWrapper {
  padding: 20px; }
  .pajakWrapper .nested {
    margin-left: 20px; }
    .pajakWrapper .nested li {
      border-left: 1px solid #cdcdcd; }

#auction-report-bar {
  display: none; }

.headerAuction {
  line-height: 3em; }

.lelang > .col {
  display: inline-block;
  float: left; }

.lelang .table thead th {
  text-align: left;
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
  cursor: pointer; }

/*
AUCTION STYLE
*/
#auction-report-bar {
  display: none; }

.warnColor {
  color: #c0392b; }

.auction-prize3 {
  color: #27ae60; }

.lelang .panel-heading {
  margin-bottom: 0; }

.lelang .panel-heading h4 {
  margin-top: 0;
  margin-bottom: 0; }

.lelang .panel-body {
  border: none; }

.table {
  width: 100%; }

.panel > .table > tbody > tr > td {
  padding: 8px 15px; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.content-group-sm {
  margin-bottom: 15px; }

#chart-container {
  display: inline-block; }

.auction-button {
  background: #2980b9;
  width: 100%;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  border: 0; }

#timer {
  font-size: 32px;
  text-align: center; }

.panel-body ul {
  padding: 0;
  margin: 0; }

.noticeMedia {
  border: #f39c12 1px solid;
  color: #f39c12;
  padding: 10px 10px;
  background-color: rgba(243, 156, 18, 0.09); }

.media {
  margin-bottom: 15px; }

.lelang .media-body {
  font-size: 12px; }

.media-left, .media-right, .media-body {
  display: table-cell;
  vertical-align: top;
  position: relative; }

.media-left {
  /*padding-right: 20px;*/
  text-align: left;
  width: 30px; }

.media-left i:before {
  margin: 0; }

.noticeMedia ul {
  list-style: none; }

.headerBid {
  border: 1px solid #cdcdcd;
  margin: -15px -15px 0px;
  border-right: none;
  border-left: none; }

.headerBid ul li {
  padding: 15px 15px;
  display: inline-block; }

.gr-text {
  color: #27ae60; }

.bodyBid {
  border: 1px solid #cdcdcd;
  margin: 0px -15px 0px;
  border-right: none;
  border-left: none;
  border-bottom: none;
  overflow-x: scroll; }

.auction-dash-table > tbody > tr {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd; }

.auction-dash-table thead tr th,
.auction-dash-table tbody tr td {
  text-align: left;
  padding: 10px; }

.auction-dash-table tr td {
  padding: 12px 20px; }

.wrapperBid > div {
  display: inline-block;
  padding: 5px 0px; }

.labelAuction {
  width: 100px;
  display: inline-block; }

#auction-blocker {
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  top: 30px;
  z-index: 3;
  display: block; }

#auction-blocker ol {
  list-style-type: decimal; }

#auction-blocker ul {
  list-style-type: decimal; }

#auction-blocker li {
  list-style-type: decimal;
  padding: 0 5px 3px 0;
  text-align: justify; }

#penawaran-awal {
  padding: 10px; }

.auction-dash-table thead tr {
  background-color: #f1f1f1; }

/*# sourceMappingURL=main.css.map */
