@import '6-utilities/initial-variables';

$primary : nth($primary,1);
$danger : nth($danger,1);
$success : nth($success,1);
$warning : nth($warning,1);

$nunito : "Nunito";

$background-body : #f9f9f9;

$text: #5a6571;
$text-light: #7d8f9e;

$box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
canvas{
    background-color: transparent;
    z-index: 0;
    position: absolute;
}

body {
	// background-color: $background-body;
	// background-image: url(../../source/img/regas-bg.jpg);
	// background-size: cover;
	// background-repeat: no-repeat;
}

.bg {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
    background: url('../../source/img/bg-lspro.jpg') no-repeat center center;
    background-size: cover;

    transform: scale(1.1);
  }

.overlay {
	background-color: rgba(26, 56, 111, 0.45);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

// .wrapper {
// 	height: 100vh;
// }

.form-login {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	box-shadow: $box-shadow;
	border-radius: $radius-large;

	.group-start, .group-end {
		width: 50%;
		height: 400px;
	}

	.group-start {
		background-color: rgba(44,49,172,0.4);
		border-top-left-radius: $radius-large;
		border-bottom-left-radius: $radius-large;

		.logo-wrapper {
			background-color: #fff;
			padding: 10px;
			border-radius: 4px 35px 4px 35px;
			width: 50%;
			height: 79px;
			position: relative;
			margin-top: 20px;
			margin-left: -15px;
			box-shadow: $box-shadow;
			// font-family: $nunito;
			font-weight: 400;
			color: #000;

			.is-bold {
				font-weight: 700;
			}

			img {
				height: 58px;
				float: left;
				margin-right: 10px;
			}
		}

		.logo-title {
			color: #fff;
			font-size: 3rem;
			font-weight: 300;
			padding-left: 40px;
			padding-top: 20px;

			.line {
				display: flex;
				width: 100%;
				align-items: flex-end;
				justify-content: flex-end;
				margin-left: -10rem;
				margin-top: 15px;

				span {
					height: 4px;
					width: 60px;
					display: inline-block;
					background-color: #fff;
				}

				span:nth-child(1) {
					background-color: #ed1b2f;
				}

				span:nth-child(2) {
					background-color: #acc32b;
				}

				span:nth-child(3) {
					background-color: #006cb7;
				}
			}
		}
	}

	.group-end {
		background-color: #fff;
		border-top-right-radius: $radius-large;
		border-bottom-right-radius: $radius-large;

		.form-wrapper {
			position: relative;

			.title {
				font-size: 2.75rem;
			    position: absolute;
			    top: 11px;
			    width: 100%;
			    font-family: $nunito;
			    /* left: -22px; */
			    color: #ddd;
			    padding: 15px 15px 15px 45px;

			    span.icon__login {
			    	background-color: #fff;
			    	color: #2c31ac;
			    	line-height: 0;
				    text-align: center;
				    height: 65px;
				    width: 65px;
				    padding-left: 4px;
				    font-size: 3rem;
			    	border-radius: 50px;
			    	position: absolute;
			    	left: -33px;
			    	top: 12px;
			    	border: 8px solid rgba(44, 49, 172,.4);
			    }
			}
		}

		.field {
			margin: 65px auto;

			.control {
				input {
					width: 100%;
				}
			}
		}	
	}
}

.form-wrapper {
	width: 100%;
	padding: 3rem 0;
	display: flex;
	flex-direction: row;

	.title {
		font-size: 1.25rem;
		padding: 15px;
	}

	.form {
		width: 50%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

		fieldset {
			border: none;
			outline: none;
		}

		.form-control {
			width: 100%;
			display: flex;
			font-family: $nunito;
			margin-bottom: 5px;

			label {
				font-size: 1rem;
				color: $text-light;
				font-weight: 700;
			}

			input {
				padding: 5px 15px;
				width: calc(100% - 15px * 2);
				border-radius: 4px;
				border: 1px solid #ddd;
			}
		}

		.add-on {
			display: flex;
			flex-direction: row;
			font-size: 14px;
			color: $text-light;
			padding: 5px 0;
			position: relative;
			margin-top: -10px;

			.checkbox {
				display: flex;
				align-items: center;

				input[type='checkbox'] {
					margin-right: 5px;
				}
			}

			.link {
				margin-left: auto;
			}
		}

		.button-group {
			margin-top: 3rem;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;

			button {
				width: 150px;
				justify-content: center;
			}
		}
	}
}

.btn-hover {
    width: 200px;
    font-size: 17px;
    padding: 5px 15px;
    color: #fff;
    font-family: $nunito;
    font-weight: 400;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 4px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #5640cf, #405ccf, #20bfe2);
    box-shadow:0 4px 15px 0 rgba(36, 63, 255, 0.3 );
}

