@import '../6-utilities/initial-variables';

.spin {
  transition: .3s; }

.spin-effect {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg); }

.pulse {
  cursor: pointer;
  border-radius: 100px;
  // width: 140px;
  // height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 rgba(50,115,220,.4);
  animation: pulse 3s infinite; }

.pulse:hover {
  animation: none; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(50,115,220,.4); }
  70% {
    -webkit-box-shadow: 0 0 0 50px rgba(204, 169, 44, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(50,115,220,.4);
    box-shadow: 0 0 0 0 rgba(50,115,220,.4); }
  70% {
    -moz-box-shadow: 0 0 0 50px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 50px rgba(204, 169, 44, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }