@import '../6-utilities/initial-variables';

.alert{
  border: 1px solid transparent;
  width: 100%;
  position: relative;
  color: #202124;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: .875rem;
  letter-spacing: .2px;
  -webkit-align-items: center;
  align-items: center;
  background-color: #fff;
  border: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 8px 0 10px;
  font-weight: 400;
  left: 0;
  min-height: 52px;
  padding: 8px 38px;
  padding-right: 52px;
  right: auto;
  text-align: left;
  top: auto;
  white-space: normal;
  overflow: hidden;

  visibility: hidden;
  opacity: 0;
  top: -35px;
  transition: all .3s;

  &:before {
    content: "";
    display: block;
    height: 32px;
    width: 5px;
    background-color: lighten(#202124,10%);
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(0,-50%);
  }

  &.active {
    visibility: visible;
    opacity: 1;
    top: 0;
  }

  // &.download {
  //   // justify-content: center;

  //   button {
  //     background-color: #fff;
  //     color: #23d160;
  //     border-radius: 50px;
  //     position: relative;
  //     margin-left: auto;
  //     min-width: 175px;
  //     right: 15px;
  //     box-shadow: 0 0 0 25px rgb(15, 239, 140);

  //     &:hover {
  //       background-color: #fff !important;
  //     }

  //     i {
  //       font-size: 26px;
  //       position: absolute;
  //       right: 5px;
  //     }
  //   }

  //   &:before {
  //     z-index: 1;
  //     display: none;
  //   }

  //   &:after {
  //     content: "";
  //     width: 70px;
  //     height: 70px;
  //     position: absolute;
  //     opacity: .8;
  //     left: -24px;
  //     top: -2px;
  //     background-image: url('../../images/icon-certificate.png');
  //     background-size: cover;
  //     background-position: center;
  //     z-index: 0;
  //   }
  // }

  &.download {
    justify-content: center;
    align-items: center;
    box-shadow: none;

    .card {
      background-color: #00acea;
      color: #fff;
      border-radius: 4px;
      max-width: 575px;
      min-height: 300px;
      position: relative;
      right: 15px;
      // box-shadow: 0 2px 8px rgba(15, 239, 140,.2);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 25px 0;

      img {
        width: 105px;
        height: 105px;
        margin-bottom: 8px;
      }

      h1 {
        color: #fff;
        font-family: $nunito;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 8px;
      }

      h2 {
        font-size: 18px;
        color: #fff;
        text-align: center;
        margin-bottom: 45px;
      }

      button {
        background-color: #fff;
        color: #00acea;
        border-radius: 50px;
        position: absolute;
        font-size: 18px;
        bottom: 15px;
        min-width: 200px;
        box-shadow: 0 2 12px rgba(15, 239, 140,.4);

        &:hover {
          background-color: #fff !important;
        }

        i {
          font-size: 27px;
          position: absolute;
          right: 5px;
        }
      }
    }
  }

  .icon {
    color: #fff;
    font-size: 13px;
    left: 15px;
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background-color: lighten(#202124,10%);
    text-align: center;
    line-height: 26px;
  }

  .btn-close {
    color: #fff;
    font-size: 17px;
    right: 15px;
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background-color: lighten(#202124,10%);
    text-align: center;
    line-height: 26px;
    display: none;
  }
}
.alert-danger {
  background-color: #ff3860 ;
  border-color: #feefee;
  h2 {color: #fff !important;}
  box-shadow: 0 4px 12px rgba(255, 56, 96, .4);
}
.alert-success {
  background-color: #23d160;
  border-color: #e2f2e2;
  h2 {color: #fff !important;}
  box-shadow: 0 4px 12px rgba(35, 209, 96, .4);
}
.alert-warning {
  color: #8a6d3b;
  background-color: #ffdd57;
  border-color: #faebcc;
  box-shadow: 0 4px 12px rgba(255, 221, 87, .6);
}
.alert-warning h3{
   color: #8a6d3b;
   margin-bottom: 10px;
}