@import '../6-utilities/initial-variables';

.card {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 8px 26px rgba(50,115,220,.4);
  padding: 10px;
  border-radius: 4px;
  align-self: center;
  margin: 10px 0; }
  .card-header {
    display: flex;
    justify-content: center; 
    
    .icon__check {
      position: absolute;
      height: 50px !important;
      min-height: 50px !important;
      /* right: 0; */
      /* top: -10px; */
      bottom: -22px;
      margin-left: 67px;
    }
  }
    .card-header img {
      height: 100px;
      min-height: 100px; }
  .card-title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: $nunito;
    font-weight: 700;
    color: #0026ff;
    margin: 5px 0; }
  .card-footer {
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin: 5px 0; }
    .card-footer span {
      color: #3273dc;
      margin-left: 5px;
      cursor: pointer; }
    .card-footer ul {
      display: flex;
      justify-content: flex-start;
      flex-flow: column wrap; }

.card-success {
  background-color: #73e79c;
  color: rgba(0, 0, 0, 0.8); }

.card-warning {
  background-color: #ffe78a;
  color: rgba(0, 0, 0, 0.8); }

.card-danger {
  background-color: #ff6b89;
  color: rgba(0, 0, 0, 0.8); }

.align-left {
  justify-content: flex-start; }