@import '6-utilities/initial-variables';

.step-wrapper {
	width: calc(100% - 15px * 2);
	padding: 15px;
	display: flex;
	justify-content: center;

	ul li {
		list-style: none;
		display: inline-block;

		&:not(:last-child) {
			margin-right: 100px;
		}

		&.active {

			.step {
				filter: grayscale(0);

				.step-icon:after {
					border-bottom: 5px solid #1e81ce;
				}
			}
		}

		&.denied {

			.step {
				filter: grayscale(0);

				.step-icon {
					border: 5px solid nth($danger,1);

					img {
						filter: grayscale(1);
					}
				}
			}
		}

		.step {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			position: relative;
			filter: grayscale(1);

			.step-icon {
				display: block;
				background-color: #fff;
				// height: 55px;
				// width: 55px;
				color: #fff;
				border-radius: 75px;
				padding: 18px 16px;
				border: 5px solid #1e81ce;

				img {
					height: 55px;
				}
			}

			.step-title {
				text-align: center;
				margin-top: 10px;
			}
		}

		.active {
			filter: greyscale(0) !important;

			.step-icon:after {
				border-bottom: 7px solid #1e81ce;
			}
		}
	}

	ul li:not(:last-child) {
			
		.step {

			.step-icon:after {
		        content: "";
			    display: block;
			    // height: 7px;
			    width: 111px;
			    right: -111px;
			    // left: -105px;
			    top: 48px;
			    position: absolute;
			    border-bottom: 5px dashed #1e81ce;
			}
		}

		&.active {
			
			.step {
				filter: grayscale(0);

				.step-icon:after {
					border-bottom: 5px solid #1e81ce;
				}
			}
		}

		&.denied {

			.step {
				filter: grayscale(0);

				.step-icon:after {
					border-bottom: 5px dashed #727272;
				}
			}
		}
	}
}

// 	l i s t

.list-wrapper {
	width: 100%;

	ul li {
		display: block;
		width: 100%;

		&:not(:last-child) {
			.list-item {
				border-bottom: 1px solid #ddd;
			}
		}
	}

	.list-item {
		width: calc(100% - 15px * 2);
		padding: 15px;
		display: flex;
		align-items: center;

		.list-image {
			display: block;
			height: 65px;
			width: 65px;
			border-radius: 4px;
			background-color: #ddd;
			margin-right: 15px;
			background-size: contain;
		}

		.list-attr {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			
			.list-name	{
				font-size: 1.35rem;
				width: 50%;
			}

			.list-caption {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				width: 100%;

				.amount {
					color: #a0a0a0;
				}
			}
		}
	}
}